.containerCuidados{

  display: flex;
  flex: 1;
  background-color: white;
  margin: 40px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  flex-direction: column;
  

}

.containderImg{
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  
}
.img{

    max-width:650px;
    max-height:650px;
}

.containerCuidados > div {
  margin-top: 25px;
  display: flex;
  flex: 1;
  justify-content: center;
}